.left {
    flex: 0.35;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #badge {
      position: absolute;
      width: 20px;
      height: 20px;
      top: -30%;
      right: -30%;
      background-color: black;
      color: white;
      border-radius: 50%;
      font-size: 1.5rem;
      padding: .2em;
      text-align: center;
  }
  